<h2>Welcome, {{ dbUser.username }}!</h2>
<p>This is your profile page my friend!</p>
<button>
  <a href="/userProfile">Reload the page</a>
</button>

<button>
  <a href="/main">Main page</a>
</button>

<button>
  <a href="/private">Private page</a>
</button>

<button>
  <a href="/logout">Logout</a>
</button>